@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

a {
  color: black;
}

button:disabled {
  background-color: var(--desabilitado);
  cursor: not-allowed;
}

:root {
  --fundo: #ffffff;
  --destaque: #F2CC0F;
  --desabilitado: #dfdfdf;
  --sombra: #262626;
  --borda: #00000040;
  --borda2: #00000035;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}